/* You can add global styles to this file, and also import other style files */
// Custom.scss
// Option A: Include all of Bootstrap



// Themes source: https://themestr.app
// Student
$theme-colors: (
  "primary": #07689F,
  "secondary": #C9D6DF,
  "success": #11D3BC,
  "danger": #F67280,
  "info": #A2D5F2,
  "warning": #FF7E67,
  "light": #FAFAFA,
  "dark": #4E4E4E,
);

// Commercial
$theme-colors: (
  "primary": #FF550B,
  "secondary": #303030,
  "success": #015668,
  "danger": #FF304F,
  "info": #0F81C7,
  "warning": #0DE2EA,
  "light": #E8E8E8,
  "dark": #4E4E4E,
);

// Your variable overrides
$body-bg: #4E4E4E;
$body-color: #E8E8E8;

@import "node_modules/bootstrap/scss/bootstrap";
