<div class="row wrapper">
  <div class="container">
    <div class="page-header">
      <h1>
        Please Signup!
      </h1>
      <p>Step up your career with hundreds of online courses on trend. </p>
      <mark><a href="#" class="text-primary">Angular</a></mark>
      <mark><a href="#" class="text-secondary">React</a></mark>
      <mark><a href="#" class="text-success">Vue</a></mark>
      <mark><a href="#" class="text-danger">Spring-boot</a></mark>
      <mark><a href="#" class="text-warning">Design Thinking</a></mark>
      <mark><a href="#" class="text-info">Android</a></mark>
      <mark><a href="#" class="text-dark">iOS</a></mark>
      <mark><a href="#" class="text-primary">Java</a></mark>
      <mark><a href="#" class="text-secondary">Python</a></mark>
      <mark><a href="#" class="text-success">Matlab</a></mark>
      <p>and much more ...</p>
      <h4>Choose your plan</h4>
      <button type="button" class="btn btn-primary" [value]="'student'" (click)="toggleTheme('student')" >Student</button>
      <button type="button" class="btn btn-warning" [value]="'pro'" (click)="toggleTheme('pro')" >Professional</button>
    </div>
    <app-signup></app-signup>
  </div>
</div>